html {
    font-size: 100%;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
}
body{
    background-color: lavender;
}
a {
    text-decoration: none;
}
UL{

}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#nav{
    position: relative;
    top: 0;
    width: 100%;
}
#article{
    width :18rem;
    height: 18rem;
}

.ulNavList{
    display: none;
    position: absolute;/* la position absolu permet de fixer les menu quand on fais du*/
    left:23rem;
    padding :0;
    top:3rem;

}

.liNav:hover ul{
    display: block;
}